*{
    box-sizing: border-box;
}
.container{
    height: 600px;
    border: 2px dotted green;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    

}
.box{
    height: 50px;
    width: 80px;
    border: 2px solid red;
    background-color: blueviolet;
}