*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.2);
    width: 90%;
    position: fixed;
    padding: 15px 5%;
    top: 0;
    align-items: center;
    
}

.navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.navbar a{
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}
.navbar button{
    background-color: orange;
}

